.Fiche {
    color: #ff6060;
}

.logementspropietaire {
    display: inline-flex;
    width: 100%;
}

.logementspropietaire > div {
    flex: 1 0 auto;
}

.informationlogements {
    flex-direction: column;
}

.titrelogement {
    font-size: 36px;
    font-weight: bold;
}

.endroitlogement {
    display: block;
    font-size: 18px;
    margin-bottom: 25px;
}

.informationpropietaire {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.nomproprietaire {
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: 100px;
}

.photopropietaire {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

.note {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.etoile {
    height: 30px;
    width: 30px;
}

.descriptionequipements {
    display: flex;
    justify-content: space-between;
    gap: 0 75px;
    line-height: 22px;
    list-style: none;
    margin-top: 25px;
    width: 100%;
}

.descriptionequipements > .collapse {
    width: 50%;
}

.bodymargin {
    margin-left: 3%;
    margin-right: 3%;
}

@media screen and (max-width: 1490px) {

    .logementspropietaire {
        display: block;
    }

    .titrelogement {
        display: block;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .endroitlogement {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .tags {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .tags > .tag {
        margin-left: 0px;
        min-width: 50px;
    }

    .proprietairenote {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 25px;
        width: 100%;
    }

    .informationpropietaire {
        margin-bottom: unset;
        width: 100%;
    }

    .photopropietaire {
        height: 32px;
        width: 32px;
    }

    .etoile {
        height: 25px;
        width: 25px;
    }

    .descriptionequipements {
        display: block;
    }

    .descriptionequipements > .collapse {
        width: 100%;
    }
    
    .collapse {
        margin-bottom: 20px;
    }
}