.bodymargin {
    margin-left: 3%;
    margin-right: 3%;
}

.collapsemargin {
    margin-left: 3%;
    margin-right: 3%;
}

@media screen and (max-width: 992px) {
    .collapsemargin {
        margin-left: 0;
        margin-right: 0;
    }
  }