.collapses {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
  }
  
  .header {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
  }
  
  .titre {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
  }
  
  .chevron {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 100%;
  }

  .chevron:hover {
      cursor: pointer;
  }
  
  .chevron.true {
    justify-content: start;
    transform: rotate(180deg);
  }
  
  .content {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: 75%;
    margin-top: -10px;
    max-height: 0;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
    transition: 1s max-height 0.3s;
  }
