.collapses {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;
  }
  
.header {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
  }
  
.titre {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
  }
  
.chevron {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 100%;
  }

.chevron:hover {
      cursor: pointer;
  }

.chevron img {
    transition: transform 0.3s ease;
  }

.chevron.true img {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
.content {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    max-height: 0;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
    transition-timing-function: ease-in;
    transition-property: max-height;
    transition-duration: 0.25s;
    
  }

  .opened {
    max-height: 100px;
  }

  @media screen  and (max-width: 1490px) {
    .content {
      transition-duration: 0.5s;
    }
    .opened {
      max-height: 200px;
    }
  }