.page404 {
    text-align: center
  }
  
  .titre404 {
    color: #ff6060;
    font-size: 263px;
    margin: auto;
  }
  
  .description404 {
    color: #ff6060;
    display: block;
    font-size: 36px;
  }
  
  .liensite.lien404 {
    display: block;
    color: #ff6060;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .bodymargin {
    margin-left: 3%;
    margin-right: 3%;
}